body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
}

.auth-container {
  width: 350px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-container input {
  padding: 12px;
}

.auth-container button {
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}